*{
  padding: 0;
  margin: 0;

}

header{
text-align: center;
color: white;
border: dotted;
}
body{
  background-color: black;
}

td{
  width: 20px;
  height: 20px;

}
.blank {
 background-color: blank;

}
.snake{
  background-color: white;

}

.wall{
  background-color: teal;
}

.fruit{
  background-color: navy;
}